<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pertemuan satu : Intro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pgstl.css') }}">
</head>
<body>
    <div class="container">
        <h1>Pengantar Struktur Data dan Basis Data</h1>
        <hr>
        <p> 
            Komputer pada dasarnya tidak pintar, kita membuat komputer jadi pintar. 
            Kita semua adalah ahli sihir yang memasukan simbol-simbol aneh <span class="highlight">(Bahasa Pemrograman)</span> untuk memaksa seperangkat batu-batu ajaib yang memiliki ukiran khusus <span class="highlight">(Perangkat Keras Komputer)</span> untuk dapat melakukan hal-hal ajaib.
            Dengan ilmu yang awalnya dikuasai oleh sesepuh luhur<span class="highlight">(Ilmuwan Informatika)</span>, komputer menjadi lebih bisa diakses oleh semua kalangan dengan menurunkan jurus yang lebih sederhana<span class="highlight">(Abstraksi pada Komputer)</span>.
            Akhirnya, ilmu ini bahkan dapat digunakan dan dikuasai secara bertahap oleh teman-teman semua. 
        </p>
        <br>
        <p><h3>Esensi Kerja Komputer</h3>
            Komputer hanya memahami bahasa mesin, yang sering disebut dengan bahasa biner. 
            Bahasa biner ini kemudian dikonversi menjadi bentuk yang lebih mudah dipahami oleh manusia (seperti huruf).
            Dari huruf-huruf ini terbentuk bahasa, dan dari bahasa terbentuk bahasa pemrograman.
            Bahasa pemrograman menyediakan metode yang mudah agar kita dapat membuat suatu program pada komputer.
            Namun, dengan begini kebutuhan pemrograman pun semakin kompleks, dan jumlah data yang diproses makin besar.
            Oleh karena itu, diperlukan struktur yang jelas dan efisien dalam pengelolaan data agar sistem dapat bekerja secara optimal.
        </p>
        <br>
        <p><h3>Struktur Data</h3>
            Struktur data adalah cara mengorganisir dan menyimpan data dalam komputer sehingga dapat digunakan secara efisien.
            Struktur data mencakup berbagai metode penyimpanan data, seperti array, linked list, stack, queue, tree, dan graph. 
            Masing-masing struktur data memiliki karakteristik dan kegunaannya sendiri tergantung pada kebutuhan aplikasi.
        </p>
        <br>
        <p><h3>Struktur Data</h3>
            
        </p>
        
    </div>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>
