<p> 
    Dalam pemrograman, struktur data merupakan cara untuk mengorganisir dan menyimpan data agar dapat diakses dan dimodifikasi secara efisien. 
    Beberapa struktur data telah didefinisikan secara langsung oleh bahasa pemrograman, seperti integer, string, dan array. 
    Namun, ada juga struktur data yang tidak tersedia secara langsung dan harus didefinisikan oleh programmer sendiri. 
    Struktur data yang didefinisikan oleh programmer ini disebut sebagai Abstract Data Type (ADT). 
    ADT adalah konsep yang mendefinisikan cara kerja dan perilaku suatu struktur data tanpa menentukan implementasi spesifiknya. 
</p>
<h3>Tipe Data Abstrak</h3>
<p>
    Tipe Data Abstrak (ADT) adalah konsep model untuk struktur data yang mendefinisikan operasi-operasi yang dapat dilakukan pada data tanpa menentukan bagaimana operasi tersebut diimplementasikan. 
    ADT memberikan kerangka struktur untuk apa yang data bisa lakukan dan apa yang data tidak bisa lakukan.
    <br><br>
    Karena ADT hanya berfokus pada logika operasi dan tidak bergantung pada cara kerja bahasa pemrograman, konsep ini dapat diterapkan di berbagai bahasa pemrograman. 
    Implementasi ADT dibuat secara langsung dalam kode oleh pengembang, karena bahasa pemrograman umumnya tidak menyediakan ADT secara langsung dan hanya menyediakan alat atau tipe data dasar untuk membangunnya.
</p>
<br>
<h3>Contoh Penerapan ADT</h3>
Berikut adalah salah satu contoh bagaimana ADT diguunakan pada suatu program :
<pre class="code-box"><code class="language-python">class Stack:
def __init__(self):
self.stack = []  # Menggunakan list untuk menyimpan elemen stack

def push(self, data):
# Menambahkan elemen ke dalam stack
self.stack.append(data)

def pop(self):
# Menghapus dan mengembalikan elemen teratas dari stack
if not self.is_empty():
return self.stack.pop()
return "Stack kosong"

def peek(self):
# Mengembalikan elemen teratas tanpa menghapusnya
if not self.is_empty():
return self.stack[-1]
return "Stack kosong"

def is_empty(self):
# Mengecek apakah stack kosong
return len(self.stack) == 0

def size(self):
# Mengembalikan jumlah elemen dalam stack
return len(self.stack)

def display(self):
# Menampilkan elemen stack
print(self.stack[::-1])  # Menampilkan dalam urutan terbalik (elemen teratas dulu)

# Contoh penggunaan
s = Stack()
s.push(10)
s.push(20)
s.push(30)
s.display()  # Output: [30, 20, 10]

print(s.pop())  # Output: 30
print(s.peek())  # Output: 20
print(s.is_empty())  # Output: False</code></pre>
</div>
</div>